<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tommy.driver"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.rider.aracanemap.googlemapsv2.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
                     xmlns:tools="http://schemas.android.com/tools"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Google Plus permission -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".adapter.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:label="@string/app_name">

                <action
                    android:name="android.intent.action.VIEW"/>

                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="http"/>
                <data
                    android:scheme="https"/>
                <data
                    android:host="www.sixtnc.com"/>

                <data
                    android:host="sixtnc.com"/>
                <data
                    android:host="sixtnc"/>

            </intent-filter>

        </activity>

        <service android:name=".LocationService"/>

        <service android:name=".services.WidgetService"/>

        <activity
            android:name=".SignUp_Activity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".SigninActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".ForgotPasswordActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".LaunchActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:screenOrientation="portrait"
            android:value="@string/demo_app_id"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider275737512892498"
            android:exported="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tommy.driver.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name=".adapter.Services"/>

        <service
            android:name=".services.LocationService"
            android:enabled="true"/>

        <activity
            android:name=".DocUpload_Activity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ImageUpload_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Map_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".IntentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TabActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MyBaseActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SettingActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".EditProfileActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".RatingActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".EarningActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".ReferralEarningsActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>

        <activity
            android:name=".EarningTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="58ed39c94fbcd33ec9afa9b3b5b81a533b1c320a"/>

        <activity
            android:name=".ShareReferralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".YourTripDetailsActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".YourTripsActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Bank_Details_"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>

        <activity
            android:name=".ReferralUsersActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>

    </application>

</manifest>